# ==========================================
# SEGURIDAD Y CORS
# ==========================================
# Secret key for Django (MUST change in production)
SECRET_KEY=django-insecure-your-super-secret-key-here

# Debug mode (MUST be False in production)
DEBUG=False

# Allowed hosts (Separated by comma)
# Example: 127.0.0.1,api.yourdomain.com
ALLOWED_HOSTS=127.0.0.1,localhost

# Define los dominios del Frontend que consumirán esta API (Separados por coma, sin espacios)
# Ejemplo para desarrollo local con Astro/React: http://localhost:4321,http://127.0.0.1:4321
CORS_ALLOWED_ORIGINS=http://localhost:4321,http://127.0.0.1:4321

# ==========================================
# BASE DE DATOS (PostgreSQL)
# ==========================================
# If using the provided docker-compose.yml, these match the default settings
POSTGRES_DB=coreasset
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ==========================================
# REDIS (Celery / Caché)
# ==========================================
REDIS_URL=redis://:T3mpP@ssw0rd2026!@redis:6379/1