# ==========================================
# SEGURIDAD Y CORS
# ==========================================
# Define los dominios del Frontend que consumirán esta API (Separados por coma, sin espacios)
# Ejemplo para desarrollo local con Astro/React: http://localhost:4321,http://127.0.0.1:4321
CORS_ALLOWED_ORIGINS=http://localhost:4321,http://127.0.0.1:4321